body {
    margin: 0;
}

.centralize {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
}
.loading label {
    font-size: 24px;
}

button {
    cursor: pointer;
}
button:active {
    opacity: 0.8;
}
button[disabled] {
    opacity: 0.8;
}

.clear {
    background: transparent;
    border: none;
    color: white;
}
.solid {
    background: white;
    border: none;
    color: rgb(45, 211, 111);
}
.outline {
    background: transparent;
    color: white;
    border: 1px solid white;
}

.error {
    background: red;
    color: white;
    display: none;
} 