button {
    cursor: pointer;
}
button:active {
    opacity: 0.8;
}
button[disabled] {
    opacity: 0.8;
}

.clear {
    background: transparent;
    border: none;
    color: white;
}
.solid {
    background: white;
    border: none;
    color: rgb(45, 211, 111);
}
.outline {
    background: transparent;
    color: white;
    border: 1px solid white;
}

.error {
    background: red;
    color: white;
    display: none;
} 