body {
    background: rgb(45, 211, 111);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form {
    width: 300px;
}
input {
    border: none;
}
input,
button {
   padding: 10px;
   width: -webkit-fill-available;
}
button {
    margin-bottom: 10px;
}

.form-field {
    margin-bottom: 10px;
}