body {
    height: 100vh;
}

ol {
    list-style-type: none;
    padding: 0;
}
ol li {
    cursor: pointer;
    background: white;
    padding: 8px 16px;
    border-bottom: 1px solid gray;
}
ol li:hover {
    opacity: 0.8;
}
ol li.expense {
    border-left: 10px solid red;
}
ol li.income {
    border-left: 10px solid green;
}
ol li:hover button.danger {
    display: block;
}

button.danger {
    width: auto;
    float: right;
    display: none;
}

p {
    margin: 4px 0;
}